@import "../../utils/utils.scss";

.footer {
    @include flex_center;
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 150px;
    background-color: $footer_color;
    flex-direction: column;

    &__img{
        height: 45px;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }
    &__text{
        color: $secondary_color;
    }
}

