.card_container {
    max-width: 1240px;
    width: 100%;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-gap:50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.card{
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 340px;
     background-image: linear-gradient(rgba(255, 96, 96, 1), rgba(156, 44, 44, 0.9));
    //, url("../../../assets/img/background_header.jpg");
    border-radius: 10px;
    position: relative;
    // margin-bottom: 50px;
}

.card_img{
    // position: absolute;
    box-sizing: border-box;
    background-size: cover;
    height: 80%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.title_card{
    color: white;
    margin: 10px 15px;
    line-height: 25px;

}