@import "../../utils/utils.scss";


.card{
    @include flex_column;
    height: 340px;
    width: 340px;
    background-image: linear-gradient(rgba(255, 96, 96, 1), rgba(175, 57, 57, 0.9));
    border-radius: 10px;
    position: relative;
    animation: menu__translate;
    animation-duration: 1.5s;
    &__img{
        box-sizing: border-box;
        background-size: cover;
        object-fit: cover;
        height: 80%;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    &__title{
        color: $secondary_color;
        margin: 10px 15px;
        line-height: 25px;
    }
}



