@keyframes menu__translate{
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.card{
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 340px;
    background-image: linear-gradient(rgba(255, 96, 96, 1), rgba(175, 57, 57, 0.9));
    border-radius: 10px;
    position: relative;
    animation: menu__translate;
    animation-duration: 1.5s;
    &__img{
        // position: absolute;
        box-sizing: border-box;
        background-size: cover;
        height: 80%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    &__title{
        color: white;
        margin: 10px 15px;
        line-height: 25px;
    }
}



