@import "../utils/utils.scss";


.error{
    @include flex_column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    &__number {
        font-size: 288px;
        font-weight: bold;
        color: $primary_color;
        margin: 50px 0;
    }
    &__text {
        font-size: 26px;
        color: $primary_color;
        font-weight: 500;
        text-align: center;
    }
    &__link {
        font-size: 18px;
        color: $primary_color;
        font-weight: 500;
        margin: 50px 0;
        cursor: pointer;
    }
}


@media screen and (max-width: 790px) {
    .error{
        &__number {
            font-size: 200px;
        }
        &__text {
            font-size: 20px;
        }
        &__link {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 500px) {
    .error{
        &__number {
            font-size: 96px;
        }
        &__text {
            font-size: 18px;
        }
        &__link {
            font-size: 14px;
        }
    }
}