.titleContainer{
    margin: 50px 0;
    filter: brightness(60%);
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    max-width: 1240px;
    
    background: url(../../../assets/background_header.jpg) center;
    height: 223px;
    border-radius: 25px;
    .titleImg {
        border: 1px solid black;
    
    }
    .titleText{
        color: white;
        z-index: 2;

    }
}

