@import "../../utils/utils.scss";

.loader__container{
    @include flex_center;
    width: 100%;
    height: 800px;
    opacity: 1;
    animation: loading infinite;
    margin-top: -150px;
}
.loader {
    @include flex_column;
    width: 100px;
    height: 120px;
    justify-content: space-evenly;
    &__bar:nth-child(odd) {
        width: 15px;
        height: 15px;
        animation: bars 500ms infinite;
        animation-direction: alternate;
        background-color: $primary_color;
        animation-delay: 300ms;
        border-radius: 50%;
    }
    &__bar:nth-child(even) {
        width: 15px;
        height: 15px;
        animation: bars 500ms infinite;
        animation-direction: alternate-reverse;
        background-color: $footer_color;
        animation-delay: 300ms;
        border-radius: 50%;
    }
}

